block variables
	- var imgPrefixUrl = IMG_PREFIX_URL

footer.footer
	.container
		.footer-content
			.footer-content__qr
				img(src=imgPrefixUrl+"images/qr-image.jpg")
			.footer-content__contact
				p CONTÁCTANOS
				ul
					li
						a(href="https://wa.me/+51992174324?text=Hola,%20quisiera%20más%20información" target="_blank")
							<i class="icon-whatsapp"></i>
							| 992 174 324
					li
						a(href="mailto:contacto@santacruzfoto.com" target="_blank")
							img(src=imgPrefixUrl+"images/icons/icon-mail.png", alt="email" width="26")
							| contacto@santacruzfoto.com
					li
						a(href="#" target="_blank")
							<i class="icon-location"></i>
							| Calle Juan Norberto Eléspuru 255 - San Isidro
			.footer-content__follow
				p SÍGUENOS
				ul
					li
						a(href="https://www.facebook.com/scfredsocial/?locale=es_LA" target="_blank")
							img(src=imgPrefixUrl+"images/icons/icon-facebook.png", alt="Facebook" width="26")
					li
						a(href="https://www.instagram.com/santacruz_foto?igsh=MTA5NWg5YW5iNTB6eQ==" target="_blank")
							img(src=imgPrefixUrl+"images/icons/icon-instagram.png", alt="Instagram" width="26")
					li
						a(href="/" target="_blank")
							img(src=imgPrefixUrl+"images/icons/icon-youtube.png", alt="Instagram" width="26")
		.copy
			p Copyright &copy; 2023 SantaCruz Fotografía - Todos los derechos reservados.

